body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

/* HEADER */
header{
    background:#000;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo-section{
    display:flex;
    align-items:center;
    gap:10px;
}

nav a{
    color:#fff;
    margin:0 12px;
    text-decoration:none;
}

/* TITLE */
.checkout-title{
    text-align:center;
    margin-top:40px;
    font-size:32px;
}

/* MAIN CHECKOUT AREA */
.checkout-container{
    display:flex;
    justify-content:center;
    gap:50px;
    margin:50px 0;
    padding:0 40px;
}

.order-summary, .billing{
    background:#fff;
    padding:25px;
    border-radius:10px;
    width:350px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* ORDER ITEMS */
.item{
    display:flex;
    gap:15px;
    margin:15px 0;
}

.item img{
    width:70px;
}

.total{
    font-size:18px;
    margin-top:10px;
}

/* BILLING FORM */
.billing input{
    width:100%;
    padding:12px;
    margin:8px 0;
    border-radius:5px;
    border:1px solid #ccc;
}

.place-order{
    width:100%;
    padding:12px;
    margin-top:10px;
    background:#b7e9a5;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

/* FOOTER */
footer{
    background:#000;
    color:#fff;
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
}