body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}
header{
    background:#000000;
    color:#FFFFFF ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;

}
.logo-section{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-img{
    width: 40px;
    

}
nav a{
    color: #FFFFFF;
  text-decoration:none ;
  margin: 0 12px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}
.cart-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    object-fit: contain;
}
nav a{
    color:#fff;
    text-decoration:none;
    margin:0 12px;
    font-size:14px;
}

nav img{
    width:18px;
}
.checkout-title{
    text-align:center;
    margin-top:40px;
    font-size:32px;
}

/* MAIN CHECKOUT AREA */
.checkout-container{
    display:flex;
    justify-content:center;
    gap:50px;
    margin:50px 0;
    padding:0 40px;
}

.order-summary, .billing{
    background:#fff;
    padding:25px;
    border-radius:10px;
    width:350px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* ORDER ITEMS */
.item{
    display:flex;
    gap:15px;
    margin:15px 0;
}

.item img{
    width:70px;
}

.total{
    font-size:18px;
    margin-top:10px;
}

/* BILLING FORM */
.billing input{
    width:100%;
    padding:12px;
    margin:8px 0;
    border-radius:5px;
    border:1px solid #ccc;
}

.place-order{
    width:100%;
    padding:12px;
    margin-top:10px;
    background:#b7e9a5;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

footer{
    background: #000000;
    color: #FFFFFF;
    display:flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
.footer-right{
    text-align: right;
}
.socials img{
    width: 30px;
    margin-left: 5px;
}