body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}
header{
    background:#000000;
    color:#FFFFFF ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;

}
.logo-section{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-img{
    width: 40px;
    

}
nav a{
    color: #FFFFFF;
  text-decoration:none ;
  margin: 0 12px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}
.cart-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    object-fit: contain;
}
nav a{
    color:#fff;
    text-decoration:none;
    margin:0 12px;
    font-size:14px;
}

nav img{
    width:18px;
}

/* CONTACT HEADER */
.contact-header {
    background: #b8ffb3;
    text-align: center;
    padding: 40px 20px;
}

.contact-header h1 {
    margin: 0;
    font-size: 36px;
}

.contact-header p {
    font-size: 18px;
    margin-top: 10px;
}

/* CONTACT BODY */
.contact-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    flex-wrap: wrap;
}

/* LEFT INFO SECTION */
.contact-info {
    width: 300px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.contact-info h2 {
    margin-top: 0;
}

.social-icons img {
    width: 35px;
    margin-right: 10px;
    cursor: pointer;
}

/* FORM SECTION */
.contact-form {
    width: 380px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.contact-form h2 {
    margin-top: 0;
}

.contact-form label {
    font-size: 14px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.contact-form button {
    background: #b8ffb3;
    padding: 12px 20px;
    border: none;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #a4f29e;
}

footer{
    background: #000000;
    color: #FFFFFF;
    display:flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
.footer-right{
    text-align: right;
}
.socials img{
    width: 30px;
    margin-left: 5px;
}