body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}
header{
    background:#000000;
    color:#FFFFFF ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;

}
.logo-section{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-img{
    width: 40px;
    

}
nav a{
    color: #FFFFFF;
  text-decoration:none ;
  margin: 0 12px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}
.cart-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    object-fit: contain;
}
nav a{
    color:#fff;
    text-decoration:none;
    margin:0 12px;
    font-size:14px;
}

nav img{
    width:18px;
}
.custom-hero{
    background:#333;
    color:#fff;
    text-align:center;
    padding:60px 20px;
}

.custom-hero h1{
    font-size:36px;
    margin-bottom:10px;
}


.customization-area{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:80px;
    padding:50px;
}

.custom-left .preview-img{
    width:380px;
    border-radius:10px;
}
.custom-right{
    width:300px;
}

.custom-right label{
    display:block;
    font-size:16px;
    margin-top:20px;
    font-weight:bold;
}

.color-options{
    display:flex;
    gap:12px;
    margin-top:10px;
}

.color-circle{
    width:30px;
    height:30px;
    border-radius:50%;
    cursor:pointer;
    border:2px solid #000;
}
.dropdown{
    margin-top:10px;
    width:100%;
    padding:10px;
    border-radius:5px;
}
.btn-custom{
    width:100%;
    margin-top:30px;
    padding:12px;
    background:#b7e9a5;
    border:none;
    font-size:18px;
    border-radius:6px;
    cursor:pointer;
}
footer{
    background: #000000;
    color: #FFFFFF;
    display:flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
.footer-right{
    text-align: right;
}
.socials img{
    width: 30px;
    margin-left: 5px;
}