body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

/* HEADER */
header{
    background:#000;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo-section{
    display:flex;
    align-items:center;
    gap:10px;
}
.logo-img{
    width:40px;
}

nav a{
    color:#fff;
    margin:0 12px;
    text-decoration:none;
}

/* TITLE */
.payment-title{
    text-align:center;
    margin-top:40px;
    font-size:32px;
}

/* PAYMENT SECTION */
.payment-container{
    width:450px;
    margin:40px auto;
    padding:25px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 0 12px rgba(0,0,0,0.1);
}

.payment-box{
    margin-bottom:25px;
}

.option{
    font-size:18px;
    font-weight:bold;
    display:flex;
    align-items:center;
    gap:12px;
}

.payment-box input[type="radio"]{
    width:18px;
    height:18px;
}

.card-form input,
.phone-input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    margin:10px 0;
}

.row{
    display:flex;
    gap:10px;
}

.confirm-btn{
    width:100%;
    padding:12px;
    background:#b7e9a5;
    border:none;
    border-radius:6px;
    font-size:18px;
    cursor:pointer;
    margin-top:15px;
}

/* FOOTER */
footer{
    background:#000;
    color:#fff;
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
    margin-top:40px;
}

.socials img{
    width:30px;
    margin-left:15px;
}