body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}
header{
    background:#000000;
    color:#FFFFFF ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;

}
.logo-section{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-img{
    width: 40px;
    

}
nav a{
    color: #FFFFFF;
  text-decoration:none ;
  margin: 0 12px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}
.cart-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    object-fit: contain;
    

}
.hero {
    display: flex;
    align-items: center;
    padding: 60px;
    background: #d4f4c3;
    gap: 40px;
}
.hero-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}
.hero-btn {
    display: inline-block;
    padding: 12px 28px;
    background: #b8ffb3;
    border-radius: 6px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.hero img {
    width: 40%;
    border-radius: 12px;
}
promise {
    text-align: center;
    margin: 60px 0;
}

.explore-btn {
    display: inline-block;
    padding: 10px 30px;
    background: #b8ffb3;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.category-block {
    padding: 50px 0;
    text-align: center;
}

.office-bg { background: #b9ecff; }
.home-bg { background: #ffe0c1; }
.products {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    width: 230px;
    background: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-align: center;
}
.product img {
    width: 100%;
    border-radius: 10px;
}
.offer-section {
    padding: 50px 0;
    text-align: center;
}

.student-bg { background: #e9f5a8; }
.gamer-bg   { background: #ffc6d3; }

.offer-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}

h3 {
    margin-top: 10px;
}
footer{
    background: #000000;
    color: #FFFFFF;
    display:flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
.footer-right{
    text-align: right;
}
.socials img{
    width: 30px;
    margin-left: 5px;
}

