body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}
header{
    background:#000000;
    color:#FFFFFF ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;

}
.logo-section{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-img{
    width: 40px;
    

}
nav a{
    color: #FFFFFF;
  text-decoration:none ;
  margin: 0 12px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}
.cart-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    object-fit: contain;
}
nav a{
    color:#fff;
    text-decoration:none;
    margin:0 12px;
    font-size:14px;
}

nav img{
    width:18px;
}

/* HERO */
.shop-hero{
    background:#333;
    color:#fff;
    text-align:center;
    padding:50px 20px;
}

/* PRODUCT GRID */
.products-grid{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:40px;
}

.product-card{
    background:#fff;
    width:240px;
    padding:20px;
    text-align:center;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.product-card img{
    width:100%;
    border-radius:8px;
}

.product-card button{
    margin-top:10px;
    padding:10px;
    width:100%;
    border:none;
    border-radius:6px;
    background:#b7e9a5;
    cursor:pointer;
}

/* FOOTER */
footer{
    background: #000000;
    color: #FFFFFF;
    display:flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
.footer-right{
    text-align: right;
}
.socials img{
    width: 30px;
    margin-left: 5px;
}