body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}
header{
    background:#000000;
    color:#FFFFFF ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    

}
.logo-section{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-img{
    width: 40px;
    
    

}
nav a{
    color: #FFFFFF;
  text-decoration:none ;
  margin: 0 10px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}
.cart-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    object-fit: contain;
    

}
.hero{
    position: relative;
}
.hero-img{
    width: 100%;
}
.hero-text{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform:translateX(-50%);
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    
}
.Products{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 0;
}
.prod-img{
    width: 260px;
    border-radius: 8px;
}
.login-container{
    text-align: center;
    color: #000;
    padding-bottom: 30px;
}
.login-button{
    background: #b7e9a5;
    
    padding: 10px 40px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
footer{
    background: #000000;
    color: #FFFFFF;
    display:flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
.footer-right{
    text-align: right;
}
.socials img{
    width: 30px;
    margin-left: 5px;
}
.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80hv;
}
.login-box{
    background: #FFFFFF;
    width: 350px;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: o 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.login-box h2{
    margin-bottom: 10px;
    color: #000;
}
.subtitle{
    margin-bottom: 20px;
    color:#555;
    font-size: 14px;
}
form{
    text-align: left;
}
form label{
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}
form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border 1px solid#ccc;
    font-size: 14px;
}

